# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Developer note: near.gitignore will be renamed to .gitignore upon project creation
# dependencies
.idea/

.parcel-cache/

node_modules/
neardev/
/.pnp
.pnp.js

# build
out/
dist/
build/

# keys
/templates/react/neardev

# testing
/coverage

# misc
.DS_Store
.env
.env.local
.env.localhost
.env.development.local
.env.testnet
.env.production.local
/.cache
frontend/.env.*

.cargo
contract/target

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

